/* TYPOGRAPHY */
@font-face {
  font-family: centra-book;
  src: url(./assets/fonts/centra-font-family-1710237944-0/CentraNo2-Book-BF646c2690591ba.ttf);
}

/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #61677a;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black !important;
  color: #ffff !important;
  font-family: "centra-book", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: bold;
  word-wrap: break-word;
}

p {
  font-size: 16px;
}

section h1 {
  font-size: 90px;
  font-weight: 900;
}

/* HEADER AND MAIN NAVIGATION */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
nav {
  margin-left: auto;
}

nav a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-left: 0 4rem;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #61677a;
}

nav a:hover::after {
  width: 100%;
  transition: 0.3s;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

header img {
  width: 70px;
}

/* SOCIAL ICONS */

.social-icon {
  display: inline-block;
  padding: 16px 0;
  background-color: black;
  color: white;
}
.socials {
  display: flex;
  flex-grow: 1;
}

.social-icon a {
  width: 20px;
  height: 20px;
  background-color: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}
.social-icon a svg {
  color: #fff;
  font-size: 20px;
}

/* MAIN PAGE */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banner h2 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
}

.banner p {
  color: #b8b8b8;
  letter-spacing: 0.8px;
  line-height: 2em;
  width: 96%;
  margin-bottom: 30px;
}

.blink {
  animation: blink-animation 1s infinite;
}

.banner .bannerLinks a {
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: 0.5s;
}

.banner .bannerLinks a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}
.banner .bannerLinks a:hover {
  color: black;
}

.banner .bannerLinks a:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.banner .bannerLinks:hover a {
  transform: scale(1.5);
}

/* ABOUT PAGE */

.aboutMe {
  min-height: 100vh;
  padding-top: 64px;
}

.aboutMe h1::after {
  background-color: #61677a;
  content: "";
  display: inline-block;
  height: 10px;
  position: relative;
  width: 20%;
}

.aboutMe h1::after {
  left: 10px;
  margin-right: -50%;
}
.aboutMe .title {
  margin-bottom: 3rem;
}

.education {
  margin-bottom: 5rem;
}

/* SERVICES PAGE */

.services {
  min-height: 100vh;
  width: 100%;
}

.services h1 {
  margin-bottom: 3rem;
}

.content {
  height: 15rem;
  padding-left: 1rem;
  width: 100%;
  border-left: 2px solid white;
  margin-bottom: 2rem;
}

.content h2 {
  font-size: 80px;
  font-weight: 900;
}

/* PROJECT PAGE */

.projects {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.projectsContent {
  width: 100%;
  min-height: 100vh;
}

.projectsList {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.projects h1::after {
  background-color: #61677a;
  content: "";
  display: inline-block;
  height: 10px;
  position: relative;
  width: 20%;
}

.projects h1::after {
  left: 10px;
  margin-right: -50%;
}

.projectList span {
  color: #282c34;
}

/* SCROLLDOWN BUTTON IN PAGES */

.scrollDown {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  right: 0;
  bottom: 40%;
  border-radius: 50px;
  cursor: pointer;
}
.scrollDown::before,
.scrollDown::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrollDown 1s ease-in-out infinite;
}

.scrollDown::after {
  top: 30%;
  animation-delay: 0.3s;
}
.projectList {
  height: 12rem;
  text-align: start;
  margin-bottom: 2rem;
  position: relative;
}

.projectList h2 {
  font-size: 50px;
  font-weight: 900;
}
.projectList h1 {
  position: relative;
}

.projectList h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #61677a;
  bottom: 0;
  left: 0;
}

.projectList2 {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.projectList2 a {
  text-decoration: none;
}
.projectList2 a::after {
  content: "";
  position: absolute;
  height: 50px;
  border-radius: 50%;
  background-color: #282c34;
  width: 50px;
  z-index: -1;
  right: 80px;
  top: 35%;
}

/* VIEW / SLIDE TO NEXT BUTTON */

.viewButton {
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0.8px;
  display: flex;
  float: right;
  right: 2rem;
  align-items: center;
  border: none;
  background: none;
  position: relative;
  margin-bottom: 2rem;
}

.viewButton::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #61677a;
}

.viewButton:hover::after {
  width: 100%;
  transition: 0.3s;
}

.viewButton svg {
  font-size: 25px;
  margin-left: 2rem;
  line-height: 1;
  animation: slide 1s infinite;
}

/* SKILLS PAGE */

.skills {
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.skills .skillsCategories {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}
.grid-item {
  font-size: 50px;
  text-align: center;
}


.skills .skillsTitle {
  width: 100%;
  display: inline-block;
  margin-bottom: 5rem;
}

.skills .skillsTitle h1 span {
  position: relative;
}
.skills .skillsTitle h1 span::after {
  content: "Volume 01__2024©";
  position: absolute;
  font-size: 23px;
  left: 0;
  bottom: 0;
}

/* CONTACT PAGE */

.contact {
  min-height: 100vh;
  width: 100%;
}

.contact h2 {
  font-size: 70px;
}

.parent {
  display: inline-block;
}

.contact .right {
  display: flex;
  justify-content: end;
}

.contact .right button {
  border: none;
  border-radius: 20px;
  background: #fff;
  color: black;
  padding: 10px 20px;
}
.contact .right button span {
  margin: 0 10px;
}
.formSubmit {
  width: 100%;
  min-height: 100vh;
}
.contactDetails {
  text-align: start;
}

.formSubmit h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.formSubmit button {
  border: none;
  background-color: white;
  color: black;
  padding: 1rem;
  float: right;
  border-radius: 0;
}

.formSubmit input,
.formSubmit textarea {
  background: none;
  padding: 1rem;
  border-radius: 0;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 3px solid #61677a;
}
.formSubmit input::placeholder,
.formSubmit textarea::placeholder {
  color: #fff;
}
.formSubmit input:focus,
.formSubmit textarea:focus {
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
}

footer {
  width: 100%;
  display: inline-block;
  align-items: center;
  border-top: 2px solid #61677a;
  margin-top: 3rem;
}

.contact .parent .left img{
  width: 100px;
}

/* TRANSITION EFFECTS ON PAGES */

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: right;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: left;
}

.thankyouMessage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thankyouMessage .btn {
  border: none;
  border-radius: 0;
  background: white;
  color: black;

}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 0.3s;
    z-index: 9999999;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 568px) {

  section h1 {
    font-size: 40px;
  }

  section .parent h2 {
    font-size: 30px;
  }
  .skills .skillsCategories {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .skills .skillsTitle h1 span {
    position: relative;
  }
  .skills .skillsTitle h1 span::after {
    content: "Volume 01__2024©";
    position: absolute;
    font-size: 10px;
    left: 0;
    bottom: 0;
  }
}
